{extend name="common/index"}

{block name="main"}
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="">首页</a><span class="crumb-step">&gt;</span><a class="crumb-name" href="">友情链接</a><span class="crumb-step">&gt;</span><span>修改链接</span></div>
        </div>
        <div class="result-wrap">
            <div class="result-content">
                <form action="/fri/update/{$finfo.id}" method="post" id="myform" name="myform" enctype="multipart/form-data">
                    <table class="insert-tab" width="100%">
                        <tbody>
                            <tr>
                                <th><i class="require-red">*</i>标题：</th>
                                <td>
                                    <input class="common-text required" id="title" name="title" size="50" value="{$finfo.title}" type="text">
                                </td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>描述：</th>
                                <td>
                                    <input class="common-text required" id="title" name="descript" size="50" value="{$finfo.descript}" type="text">
                                </td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>链接地址：</th>
                                <td>
                                    <input class="common-text required" id="title" name="url" size="50" value="{$finfo.url}" type="text">
                                </td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>链接图片：</th>
                                <td>
                                   <input class="common-text required" id="title" name="pic" size="50" value="{$finfo.pic}" type="file">&nbsp;&nbsp;&nbsp;&nbsp;<img src="/static/images/Url_img/{$finfo.pic}" width="100" height="50">
                                </td>
                            </tr>
                            <tr>
                                <th></th>
                                <td>
                                    <input class="btn btn-primary btn6 mr10" value="提交" type="submit">
                                    <input class="btn btn6" onclick="history.go(-1)" value="返回" type="button">
                                </td>
                            </tr>
                        </tbody></table>
                </form>
            </div>
        </div>

    </div>
    <!--/main-->
    {/block}
</div>
</body>
</html>